body {
    margin: 0;
    padding: 0;
    font-family: Consolas;
    display: flex;
    justify-content: center;
}

.wadah {
    padding: 25px;
    border: 8px solid hsl(115.4,0%,0%);
    width: 300px;
    display: flex;
    flex-direction: column;
    background: hsl(115.4,0%,100%);
    justify-content: center;
}

.wadah h1 {
    color: hsl(0, 0%, 0%);
}

#wadah_waktu {
    background: hsl(155.4, 0%, 97%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wadah_waktu button {
    width: 80px;
    height: 40px;
    font-size: 1rem;
}

.Mulai {
    color: hsl(115.4, 0%, 0%);
    background: hsl(142, 70.6%, 50.3%);
    border: none;
}

.Mulai:hover {
    background: hsl(142, 70.6%, 45.3%);
}

.hentikan {
    border: none;
    background: hsl(0, 84.2%, 60.2%);
}

.hentikan:hover {
    background: hsl(0, 84.2%, 55%);
}

.reset {
    border: none;
}